<h2>Edit Restaurant</h2>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<mat-dialog-content [formGroup]="form" fxLayout="column">

  <mat-form-field class="m-t-8 m-b-8">
    <textarea matInput placeholder="Name" formControlName="name"></textarea>
    <mat-error *ngIf="form.get('name').hasError('required') && form.get('name').touched" class="error">
      Name is required
    </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="8px">
  <button mat-raised-button (click)="close()">Close</button>
  <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="save()">Save</button>
</mat-dialog-actions>
