<div class="wrapper mat-elevation-z8" fxLayout="row" *ngIf="!isLoggedIn()">
  <mat-card class="" fxLayout="column" fxLayoutAlign="center center" fxFlex="22">
    <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    <div class="p-t-4" *ngIf="!isLoadingResults"></div>
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
      <h2>Register</h2>
      <div fxLayout="column">
        <mat-form-field class="">
          <label>
            <input matInput placeholder="Name" formControlName="displayName"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-error>
            <span *ngIf="!registerForm.get('displayName').valid && registerForm.get('displayName').touched">Please enter Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="">
          <label>
            <input matInput placeholder="Username" formControlName="username"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-error *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched">
            <span>Username is required.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="">
          <label>
            <input type="password" matInput placeholder="Password" formControlName="password"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-error *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
            <span>Password is required.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="">
          <label>
            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword"
                   [errorStateMatcher]="matcher">
          </label>
          <mat-error *ngIf="!registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').touched">
            <span>Password and Confirm Password must be match.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button-row">
        <button type="submit" [disabled]="!registerForm.valid" mat-flat-button color="primary"><mat-icon>how_to_reg</mat-icon>Register</button>
      </div>
      <div class="button-row">
        <h4>Already registered?</h4>
      </div>
      <div class="button-row">
        <a mat-flat-button color="primary" [routerLink]="['/login']"><mat-icon>login</mat-icon>Login</a>
      </div>
    </form>
  </mat-card>
</div>
