
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="https://i.pravatar.cc/300" />

    <h4 class="name" *ngIf="user">{{user.name}}</h4>
    <p class="designation" *ngIf="user">{{getDesignation()}}</p>

    <mat-divider></mat-divider>

    <div *ngFor="let menuItem of menuItems">
      <button mat-button class="menu-button"
              [disabled]="menuItem.disabled"
              [routerLink]="menuItem.route"
              [color]="isSelected(menuItem)"
              *ngIf="canAccess(menuItem)"
              >
        <mat-icon>{{menuItem.iconName}}</mat-icon>
        <span>{{menuItem.displayName}}</span>
      </button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
