/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.p-t-4 {
  padding-top: 4px;
}
.p-l-16 {
  padding-left: 16px;
}
.p-r-16 {
  padding-right: 16px;
}
.m-l-8 {
  margin-left: 8px;
}
.m-l-16 {
  margin-left: 16px;
}
.m-r-16 {
  margin-right: 16px;
}
.m-t-24 {
  margin-top: 24px;
}
.m-t-16 {
  margin-top: 16px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-t-96 {
  margin-top: 96px;
}
.m-b-8 {
  margin-bottom: 8px;
}
.p-l-24 {
  padding-left: 24px;
}
.p-r-24 {
  padding-right: 24px;
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.h-500 {
  height: 500px;
}
