<div fxLayout="column" fxFlex="100">
  <div *ngIf="!users || !users.length" class="not-found">
    No Users found
  </div>
  <div
    *ngIf="users.length"
    class="review-list m-t-24"
    infinite-scroll
    [infiniteScrollDistance]="distance"
    [infiniteScrollThrottle]="throttle"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
  >
    <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    <mat-card *ngFor="let user of users" class="review-card">
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
        Name: {{user.displayName}}
        <div>
          <button mat-icon-button (click)="edit(user)" color="primary">
            <mat-icon>
              brush
            </mat-icon>
          </button>
          <button mat-icon-button (click)="delete(user)" color="warn" [disabled]="user.id == loggedInUser.sub">
            <mat-icon>
              delete
            </mat-icon>
          </button>
        </div>
      </mat-card-title>
      <mat-card-content fxLayout="column">
        <span>Username: {{user.userName}}</span>
        <span>Roles: {{user.roles}}</span>
        <span>Joined: {{user.createdAt}}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
