<div fxLayout="column" fxFlex="100">
  <div *ngIf="!reviews || !reviews.length" class="not-found">
    No Reviews found
  </div>
  <div
    *ngIf="reviews.length"
    class="review-list m-t-24"
    infinite-scroll
    [infiniteScrollDistance]="distance"
    [infiniteScrollThrottle]="throttle"
    [scrollWindow]="false"
    (scrolled)="onScroll()"
  >
    <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
    <mat-card *ngFor="let review of reviews" class="review-card">
      <mat-card-title>
        Review of {{getRestaurantName(review.restaurantId)}}
        <button mat-icon-button (click)="edit(review)" color="primary" *ngIf="isAdmin() || canEdit(review)">
          <mat-icon>
            brush
          </mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog(review)" color="primary" *ngIf="isAdmin() || isOwner()">
          <mat-icon>
            reply
          </mat-icon>
        </button>
        <button mat-icon-button (click)="delete(review)" color="warn" *ngIf="isAdmin()">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content fxLayout="column">
        <span> Rating: {{review.rating}} <mat-icon>star</mat-icon></span>
        <span> Reviewer: {{review.reviewerName }} </span>
        <span> Visited: {{review.dateOfVisit | date: "MM-dd-yyyy" }}</span>
        <span> Comment: {{review.comment}}</span>
        <span> Reply: {{review.reply}}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
